<h2>Add new Book</h2>
<div class="row">
    <div class="col-md-6">
        <form novalidate name="AddNewForm" id="add-new-form" method="post" action="">
            <div class="form-group">
                <label>Name:</label>
                <input class="form-control" type="text" ng-model="book.name" required />
            </div>
            <div class="form-group">
                <label>ISBN:</label>
                <input class="form-control" type="text" ng-model="book.isbn" required />
            </div>
            <button class="btn btn-primary" ng-disabled="AddNewForm.$invalid || isUnchanged(user)" id="add-new-btn" ng-click="add_new(book)">Save!</button>
            <a href="#/" class="btn">Cancel</a>
        </form>
    </div>
</div>